@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 450px;
    border-bottom: 2px solid #21219C;
}

header img{
    width: 210px;
    cursor: pointer;
    
}

header img:hover{
    width: 230px;
    
}

header nav{
    display: flex;
    
    
}

header nav ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
}

header nav ul li{
    text-decoration: none;
    color: #21219C;
    font-weight: 900;
    font-size: 23px;  
    cursor: pointer;
    

}

header nav ul li a{
    text-decoration: none;
}

header nav ul li:hover{
    color: #0056b3;
    font-size: 24px; 
}


h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }

h2{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    background-color: #21219C;
    padding: 6px;
    border-radius: 20px;
}

.carousel {
    position: relative;
    height: 720px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    opacity: 0.8;
}


.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.section-sobre{
    display: flex;
    padding: 10px;
    padding-top: 3%;
    padding-bottom: 5%;
    background-color: rgba(223, 223, 223, 0.614);
}

.section-sobre div{
    display: flex;
    align-items: center;
    
}

.bloco1-sobre{
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: right;

}

.sobre-img-right{
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    gap: 50px;
}

.sobre-img-right img{
    width: 38%;
    border-radius: 30px;
}

.bloco1-sobre h3{
    font-size: 34px;
    font-weight: 700;
    text-align: right;
    padding-left: 211px;

}

.bloco1-sobre p{
    font-size: 19px;
}

.bloco2-sobre{
    padding-top: 4%;
    padding-bottom: 4%;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.bloco2-sobre section img{
    width: 100px;
    margin-bottom: 10px;
}

.bloco2-sobre section p{
    padding-left: 40px;
    padding-right: 40px;
}


.bloco2-sobre h4{
    font-size: 25px;
    margin-bottom: 3%;
}

.bloco2-sobre section{
    display: flex;
    padding-left: 7%;
    padding-right: 14%;
    gap: 25px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    gap: 5px;
}

.footer-section img{
    margin-top: 2%;
    width: 3%;
}

.footer-section h3 {
    border-bottom: 2px solid #21219C;
    padding-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    color: #4CAF50;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
}





