@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 450px;
    border-bottom: 2px solid #21219C;
}

header img{
    width: 210px;
    cursor: pointer;
    
}

header img:hover{
    width: 230px;
    
}

header nav{
    display: flex;
    
    
}

header nav ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
}

header nav ul li{
    text-decoration: none;
    color: #21219C;
    font-weight: 900;
    font-size: 23px;  
    cursor: pointer;
    

}

header nav ul li a{
    text-decoration: none;
}

header nav ul li:hover{
    color: #0056b3;
    font-size: 24px; 
}


h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
  }

h2{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    background-color: #21219C;
    padding: 6px;
    border-radius: 20px;
    white-space: nowrap;
}

.carousel {
    position: relative;
    height: 720px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    opacity: 0.8;
}


.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.section-sobre{
    display: flex;
    padding: 10px;
    padding-top: 3%;
    padding-bottom: 5%;
    background-color: rgba(223, 223, 223, 0.614);
}

.section-sobre div{
    display: flex;
    align-items: center;
    
}

.bloco1-sobre{
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: right;

}

.sobre-img-right{
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    gap: 50px;
}

.sobre-img-right img{
    width: 38%;
    border-radius: 30px;
}

.bloco1-sobre h3{
    font-size: 34px;
    font-weight: 700;
    text-align: right;
    padding-left: 211px;

}

.bloco1-sobre p{
    font-size: 19px;
}

.bloco2-sobre{
    padding-top: 4%;
    padding-bottom: 4%;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.bloco2-sobre section img{
    width: 100px;
    margin-bottom: 10px;
}

.bloco2-sobre section p{
    padding-left: 40px;
    padding-right: 40px;
}


.bloco2-sobre h4{
    font-size: 25px;
    margin-bottom: 3%;
}

.bloco2-sobre section{
    display: flex;
    padding-left: 7%;
    padding-right: 14%;
    gap: 25px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    gap: 5px;
}

.footer-section img{
    margin-top: 2%;
    width: 3%;
}

.footer-section h3 {
    border-bottom: 2px solid #21219C;
    padding-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    color: #4CAF50;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
}

header nav ul li.user {
    margin-left: 20px; 
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    display: flex;
    align-items: center; 
    padding-right: 10px; 
}

header nav ul li.user a {
    text-decoration: none;
    color: #000000;
}

header nav ul li.user a:hover {
    padding-left: 5px; 
}

header nav ul li.logout {
    background-color: #d32d0b;
    padding: 5px 15px; 
    border-radius: 5px;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center; 
    margin-left: 10px; 
}

header nav ul li.logout a {
    color: white;
    text-decoration: none;
}

header nav ul li.logout a:hover {
    color: #000000;
}


.products-container {
    padding: 20px;
}

.products-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container table {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.table-container th, .table-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #f4f4f4;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #218838;
}


.products-container {
    padding: 20px;
}

.products-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container table {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.table-container th, .table-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #f4f4f4;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

.form-controls {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-controls h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.form-controls label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.form-controls input, .form-controls textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-controls input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.form-controls input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-editar{
    margin-bottom: 15%;
}

.form-editar button{
    margin-top: 105px;
}
