<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/assets/icon.ico">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="/"><img src="/static/assets/logo nunes sports.png" alt="logo"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#sobre">Sobre</a></li>
                {% if session.get('logged_in') %}
                    <li><a href="/produtos">Produtos</a></li>
                {% else %}
                    <li><a href="/login">Produtos</a></li>
                {% endif %}
                {% if session.get('logged_in') %}
                    <li class="user"><a href="#">Olá, {{ session.get('username') }}</a></li>
                    <li class="logout"><a href="/logout">Sair</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section id="home">
        <div class="carousel">
            <h1>NUNES SPORTS</h1>
            <h2>Prepare-se para a <b style="color: rgb(6, 255, 6);">vitória</b></h2>
            <div class="carousel-images">
                <img src="/static/assets/natacao.jpg" alt="Imagem 1">
                <img src="/static/assets/futebol.jpg" alt="Imagem 2">
                <img src="/static/assets/basquete.jpg" alt="Imagem 3">
            </div>
            <button class="prev" onclick="moveCarousel(-1)">&#10094;</button>
            <button class="next" onclick="moveCarousel(1)">&#10095;</button>
        </div>
        <script src="/static/script.js"></script>
    </section>

    <section class="section-sobre" id="sobre">
        <div class="sobre-img-right">
            <div class="bloco1-sobre">
                <h3>SOBRE A NUNES SPORTS</h3>
                <p>Bem-vindo à Nunes Sportes, a sua loja online dedicada a oferecer os melhores produtos esportivos para atletas e entusiastas de todas as modalidades! 
                Com o compromisso de proporcionar a melhor experiência de compra, nossa loja oferece uma vasta gama de produtos de alta qualidade, 
                desde equipamentos essenciais até acessórios inovadores.</p>
                <p>Nossa missão é ajudar você a alcançar seus objetivos esportivos, oferecendo produtos que atendem às suas necessidades e superam suas expectativas. 
                Navegue pela nossa loja, encontre o que você precisa e leve sua paixão pelo esporte a um novo nível com a Nunes Sportes!</p>
            </div>
            <img src="/static/assets/atleta.jpg">    
        </div>

    </section>

    <div class="bloco2-sobre">
        <h4>Na Nunes Sportes, você encontrará:</h4>
        <section>
            <div>
                <img src="/static/assets/equipamentos.png">
                <p><b>Equipamentos esportivos de ponta:</b> <br>Escolha entre uma ampla variedade de equipamentos para diferentes esportes, todos selecionados com cuidado para garantir desempenho e durabilidade.</p>
            </div>
            <div>
                <img src="/static/assets/roupas.png">
                <p><b>Roupas e acessórios:</b><br> Descubra roupas esportivas que combinam estilo e funcionalidade, além de acessórios que complementam e melhoram a sua performance.</p>
            </div>
            <div>
                <img src="/static/assets/ofertas.png">
                <p><b>Ofertas e promoções especiais:</b><br> Aproveite nossos descontos e ofertas exclusivas para obter o melhor valor em seus produtos esportivos favoritos.</p>  
            </div> 
        </section>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Sobre Nós</h3>
                <p>Loja de referência para produtos esportivos de qualidade.</p>
            </div>
            <div class="footer-section">
                <h3>Contato</h3>
                <p>Endereço: Rua Legal, 123, São Paulo</p>
                <p>Telefone: (11) 1234-5678</p>
                <p>Email: contato@nunesesportes.com</p>
            </div>
            <div class="footer-section">
                <h3>Siga-nos</h3>
                <a href="https://facebook.com"><img src="/static/assets/facebook.png" alt="Facebook"></a>
                <a href="https://twitter.com"><img src="/static/assets/twitter.png" alt="Twitter"></a>
                <a href="https://instagram.com"><img src="/static/assets/instagram.png" alt="Instagram"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Nunes Sportes. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
